body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f6f2;
  overflow-x: hidden;
}
/* text */
a {
  color: #001e2c; /* link colour */
  text-decoration: none; /* removes underline */
}

/* GLOBAL */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* =========================
   MENU
========================= */

.menu-panel {
  position: fixed;
  top: -180px;
  left: 0;
  width: 100%;
  transition: top 0.4s ease;
  z-index: 1000;
}

.menu.open .menu-panel {
  top: 0;
}

.menu-text {
  background: #001e2c;
  color: white;
  text-align: center;
  padding: 40px 0 80px;
}

.menu-handle {
  margin-top: -5px;
}

.menu-handle img {
  width: 100%;
  display: block;
}

/* =========================
   INTRO
========================= */

.intro {
  width: 100%;
  max-width: 900px;
  margin: 150px auto;
  position: relative;
}

.intro-box {
  width: 100%;
  height: auto;
  display: block;
}

.intro-text {
  position: absolute;
  top: 53%;
  right: 12%;
  transform: translateY(-50%);

  width: 30%;
  font-family: Iansui;
  font-weight: 600;
  color: #001e2c;

  font-size: clamp(13px, 1.5vw, 20px);
  padding: 1em;
}

/* =========================
   PROJECT TITLE
========================= */

.projects-title {
  font-family: Iansui;
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
}

/* =========================
   GRID
========================= */

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 30px;
}

/* =========================
   PROJECT CARD
========================= */

.project-card {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* IMAGE */
.project-card img {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: block;
}

/* TEXT */
.project-info {
  width: 100%;
  text-align: left;
}

.project-info h3 {
  margin: 0;
  font-size: clamp(20px, 2vw, 40px);
  color: #001e2c;
}

.project-info p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #001e2c;
}

/* HOVER */
.project-card:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
